.c {
  opacity: 0;
}

.box {
  position: relative;
  /* background: tomato; */
}

.anime {
  width: 100px;
  height: 100px;
  background: #dedede;
  border-radius: 100%;
  transform: scale(0); /*scaleをはじめは0に*/
  transition: 2s;
}

.animated {
  transform: scale(100);
  transition: 2s; /*0.6秒かけてアニメーション*/
}

.manu {
  display: none;
  position: fixed;
  background: #dedede;
}
.manu__none {
  display: block;
}

ul {
  opacity: 0;
}
.manu__none ul {
  opacity: 1;
}

.manu__none ul li {
  /* animation-name: navAnime;
  animation-duration: 1s;
  animation-delay: 0.2s; 
  animation-fill-mode: forwards; */
  animation: navAnime 1s 0.3s forwards;
  opacity: 0;
}
@keyframes navAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =================ハンバーガーメニュ============*/
.nav {
  position: absolute;
  top: 25%;
  left: 15px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.nav span,
.nav::before,
.nav::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background: #333;
  margin: 10px;
  transition: 0.3s;
}

.active::before {
  transform: translateY(13px) rotate(45deg);
  transition: 0.3s;
}

.active span {
  opacity: 0;
  transition: 0.3s;
}

.active::after {
  transform: translateY(-13px) rotate(-45deg);
  transition: 0.3s;
}
